*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Host Grotesk", sans-serif;
}

/* common style  */

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;    
}
/* header start  */

header{
    background-color: white;
}
.header_area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
    padding: 12px;
}
nav ul li a{
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-weight: 400;
    transition: 0.3s ease-in-out;
}
nav ul li a:hover{
   color: #E8BA2E;
}
.header_btn button{
    background-color: #E8BA2E;
    padding: 10px 16px;
    border: none;
    border-radius: 12px;
    color: rgb(0, 0, 0);
    font-weight: 400;
    transition: 0.3s ease;
}
.header_btn button:hover{
   background-color: #cf9c04;
   color: white;
}

/* header end  */

/* hero area start  */

.hero_area{
    width: 100%; 
    background-image: url(./images/Background.png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    position: relative;
    display: flex;
    align-items: center;
}
.hero_area::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.2);
    border-radius: 16px;
}
.hero_area_text{
    position: relative;
   padding: 40px;
   align-items: center;
   max-width: 40%;
   z-index: 11;
   color: white;
}
.hero_area_text h1{
    font-weight: 700;
    font-size: 60px;
    line-height: 69px;
}
.hero_area_text p{
   font-size: 16px;
   padding: 10px 0 40px 0;
}
.hero_btn button{
    background-color: #E8BA2E;
    padding: 15px 24px;
    border: none;
    font-size: 15px;
    border-radius: 12px;
    color: rgb(0, 0, 0);
    font-weight: 400;
    display: flex;
    gap: 15px;
    position: relative;
    transition: 0.3s ease-in-out;
}
.hero_btn button:hover{
    transform: translateY(-5px);
    background-color: #cf9c04;
    color: white;
}
/* hero section end  */

/* tickets section start  */

.tickets_section{ 
    margin: 15px auto;
}
.tickets_area{
    background-color: #F4C430;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
}
.tickets_area span{
    color: #000102;
    font-size: 16px;
}
.tickets_area h2{
   color: #000102;
   font-size: 60px;
   padding-top: 10px;
}

/* tickets section end  */


/* cities_section start */

.cities_section{
    margin: 80px auto;
}
.exploer_text h2{
    text-align: center;
    padding-bottom:40px;
    font-size: 50px;
}
.all_cities_box{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 30px 0;
 }
 
.all_cities_box ul{
    list-style-position: inside;
}
.cities_text_box h2{
    font-size: 30px;
    text-align: start;
    padding-bottom: 10px; 
}
.cities_text_box p{
    line-height: 24px;
    padding-bottom: 15px; 
}
.cities_text_box ul li{
    line-height: 26px;
}

/* cities_section end */


/* .matches_section start */
 
.matches_section{ 
    margin: 50px auto;
}
.matches_area{
   border: 1px solid #ccc;
    padding: 30px;
    border-radius: 16px;
}
.matches_area h2{
    font-size: 30px;
}
.matches_section p{
    padding: 10px 0 20px 0;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th, td{
    border: 1px solid gray;
    padding: 15px;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
}
th, td:nth-child(1){
    color: #A73131;
}
th, td:nth-child(3){
    color: gray;
}
th{
    background-color:#A73131;
    color: white;
}
.opening_text{
    color: red;
}
.final_text{
    color: rgb(189, 160, 4);
} 

/* .matches_section end */

/* footer start  */

footer{
    background-color: #000102;
}
.footer_area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.social_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.social_icon i{
    background-color: white;
    color: #000102;
    transition: 0.3s;
    padding: 15px;
    border-radius: 16px;
    font-size: 20px;
}
.social_icon i:hover{
    color: white;
    background-color: blue; 
}
.footer_text p{
    text-align: center;
    font-size: 14px;
    color: gainsboro;
    padding: 15px 0;
}

/* footer end  */

@media(max-width:799px) {
    .header_logo img{
        width: 100px;
    }
    nav ul li{
        padding: 0 8px;
    }
    nav ul li a{
        font-size: 12px;
    }
    .header_btn button{
        padding: 8px 15px;
        font-size: 12px;
    }
    .hero_area_text{
        max-width: 60%;
    }
    .hero_area_text h1{
        font-size: 35px;
        line-height: normal;
    }
    .hero_area_text p{
        font-size: 14px;
    }
    .tickets_area span{
        font-size: 14px;
    }
    .tickets_area h2{
        font-size: 40px;
    }
    .exploer_text h2{
        font-size: 40px;
    }
    .cities_text_box h2{
        font-size: 25px;
    }
    .cities_text_box p{
        font-size: 14px;
    }
    .cities_text_box ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: -10px;
    }
    .cities_text_box ul li{
        font-size: 14px;
    }
    .all_cities_box{
        gap: 20px;
    }
    .cities_img img {
        width: 368px;
        height: 263px;
    }
    .social_icon i{
        font-size: 18px;
        padding:14px;
        border-radius: 5px;
    } 
}

@media(max-width:430px) {
    .hero_area_text{
        max-width: 100%;
    }
    .hero_area_text h1{
        font-size: 26px;
    }
    .tickets_area span {
        font-size: 12px;
        line-height: normal;
    }
     .tickets_area h2{
        font-size: 25px;
     }
     .exploer_text h2{
        font-size: 32px;
     }

}